header
{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--navbar-height);
    z-index: 2;
    background-color: var(--color-bg-primary);
    box-shadow: 0 5px 25px rgba( 9 , 229 , 171 , 0.2 );
}

#movile-btn{
    display:none;
}

#app-logo
{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    font-weight: 700;
    font-size: 1.7em;
    color: var(--color-primary);

    cursor: pointer;
}

#app-navbar ul
{
    position: relative;
    height: var(--navbar-height);
    display: flex;
    flex-direction: row;
    align-items: center;
}

#app-navbar ul li{
    height: var(--navbar-height);
    display: flex;
    align-items: center;
}

#app-navbar ul li a.menu-option
{
    min-width: 7em;
    padding: 10px 10px;

    font-size: 15px;
    font-weight: 600;
    color: var(--color-primary);
    text-align: center;
}

#app-navbar ul li a.menu-option:hover
{
    text-decoration: underline;
    background: linear-gradient( 45deg, var(--color-primary) , rgb(67, 175, 218) );
    color : var(--color-bg-primary);
    border-radius: 20px;
}

.active-item
{
    text-decoration: underline;
}

#btn-login
{
    
    width: 150px;
    margin: 0 20px;
    padding: 10px 4px;

    background-color: var(--color-bg-primary);
    border: 3px solid var(--color-primary);
    
    color:var(--color-primary);
    font-weight: 600;
    font-size: 15px;
    text-align: center;
}

#btn-login:hover
{
    background: linear-gradient( 45deg, var(--color-primary) , rgb(67, 175, 218) );
    color: var(--color-bg-primary);
    border-color:  linear-gradient( 0deg, var(--color-primary) , rgb(67, 175, 218) );
}


@media screen and (max-width: 900px)
{
    #movile-btn
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--navbar-height);
        height: var(--navbar-height);
        border: none;
        background-color: var(--color-bg-primary);
    }

    #movile-btn:before
    {
        content: '';
        position: absolute;
        width: 28px;
        height: 2px;
        background-color: var(--color-primary);
        transform: translateY( -5px );
        transition: 0.3s;
    }

    #movile-btn:after
    {
        content: '';
        position: absolute;
        width: 28px;
        height: 2px;
        background-color: var(--color-primary);
        transform: translateY( 5px );
        transition: 0.3s;
    }

    
    #movile-btn.active::before{
        transform: translateY( 0px ) rotate( 45deg );
        background-color: var(--color-primary);
    }
    #movile-btn.active::after {
        transform: translateY( 0px ) rotate( -45deg );
        background-color: var(--color-primary);
    }

    #app-navbar
    {
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100vw;
        transition: 0.5s;
        display:flex;
        overflow: hidden;
        height: var(--navbar-height);
        line-height: var(--navbar-height);
    }

    #app-navbar.active {
        height: calc( 100% - 100px );
        width: 100vw;
        bottom: 0;
        backdrop-filter: blur(100px);
    }

    #app-navbar ul
    { 
        height:100%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    #app-navbar ul li{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #app-navbar ul li a.menu-option
    {
        text-align: center;
        height: 10vh;
        line-height: 10vh;
        width: 80%;
        padding: 0;
    }

    #btn-login{
        margin-top: 10vh;
        height: 50px;
        line-height: 25px;
        width: 150px;

        background-color: var(--color-bg-primary);
        border: 3px solid var(--color-primary);
        
        color:var(--color-primary);
        font-weight: 600;
        font-size: 15px;
        text-align: center;
        vertical-align: middle;
    }
}